# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# Environment & Secrets
.env
google-services.json
GoogleService-Info.plist
firebase_options.dart

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Android
android/local.properties
android/key.properties
*.jks
.vscode/templates
